@import url(./__content/page__content.css);

.page {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2a2c2f;
  margin: 34px 0 24px 0;
  width: 100%;
}

@media screen and (max-width: 425px) {
  .page {
    margin: 20px 0 24px 0;
  }
}
