@import url(./__content/page__content.css);

.page {
  background: #2a2c2f;
  font-family: "Inter", Arial, sans-serif;
  margin: 34px 0 24px 0;
}

@media screen and (max-width: 425px) {
  .page {
    margin: 20px 0 24px 0;
  }
}
