.place__link-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .place__link-container {
    display: none;
  }
}
