@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}
