.page__content {
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .page__content {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .page__content {
    max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .page__content {
    max-width: 425px;
  }
}
