@import url(./__item/cover__item.css);
@import url(./__text/cover__text.css);
@import url(./__title/cover__title.css);

.cover {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 0;
}

@media (max-width: 1279px) {
  .cover {
    padding: 0;
  }
}