.section {  
  margin: 0 auto 92px auto;
}

@media screen and (max-width: 768px) {
  .section {
    margin: 0 auto 88px auto;
  }
}

@media screen and (max-width: 425px) {
  .section {
    margin: 0 auto 64px auto;
  }
}
